@font-face {
    font-family: 'MaruBuriSemiBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}



html {
  background-color: rgb(88, 82, 81);

  padding: none;

}

.main-section {
  width: 700px;

  margin: 0 auto;
  background-color: white;

  height: 100%;

  padding: 100px;

  font-family:'MaruBuriSemiBold';
}

.info {
  width: 400px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px auto;
  padding: 10px;

  color: rgb(0, 0, 0);
  border-radius: 15px;

}


.count-container {
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;

  margin: 10px auto;
  padding: 10px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.count-container .btn {
  width: 30px;
  height: 30px;
  
  background-color: white;

  border-radius: 5px;

  font-weight: bold;
  font-size: 20px;

  transition-duration: 0.1s;
}

.count-container .minus-btn {
  color: red;
  border: 2px solid red;
}

.count-container .minus-btn:hover {
  background-color: red;
  color: white;
}

.count-container .plus-btn {
  color: green;
  border: 2px solid green;
}

.count-container .plus-btn:hover {
  background-color: green;
  color: white;
}

.count-container h1 {
  width: 50px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.completed {
  text-decoration: line-through;
  /* 글자 가운데 삭제선 */
}