.red {
  color: rgb(255, 187, 0);
  font-weight: bold;
  font-style: italic;
}

.green {
  color: rgb(255, 60, 0);
  font-weight: bold;
  text-decoration: underline;
}

li {
  list-style-type: none;
}